/**
 * Set up axiosInstance decent box model on the root element
 */
html {
    box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has axiosInstance specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
}

*:hover, *:active, *:focus {
    outline: none;
}

body {
    background: white;
}

/**
 * Basic styles for tables and children
 */
/**
 * Basic styles for buttons
 */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/**
 * Basic styles for inputs
 */
select,
input:not([type='checkbox']):not([type='radio']):not([type='file']) {
    height: 2.3125rem;
}

textarea,
canvas,
select,
input:not([type='checkbox']):not([type='radio']):not([type='file']) {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

textarea,
canvas,
select,
input:not([type='checkbox']):not([type='radio']):not([type='file']) {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: 100%;
}

textarea:hover, textarea:active, textarea:focus,
canvas:hover,
canvas:active,
canvas:focus,
select:hover,
select:active,
select:focus,
input:not([type='checkbox']):not([type='radio']):not([type='file']):hover,
input:not([type='checkbox']):not([type='radio']):not([type='file']):active,
input:not([type='checkbox']):not([type='radio']):not([type='file']):focus {
    box-shadow: 0 0 5px #999;
    border-color: #999;
}

input[type='file'] {
    padding: 0.5rem;
}

textarea:disabled, textarea[disabled], textarea[readonly],
select:disabled, select[disabled], select[readonly],
input:disabled, input[disabled], input[readonly] {
    cursor: default;
}

form {
    display: flex;
}

.form-col {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    min-width: 16rem;
}

.form-col:not(:first-of-type) {
    margin-left: 2rem;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row:not(:first-child) {
    margin-top: 0.25rem;
}

.form-row:last-child {
    margin-bottom: 1rem;
}

.form-row .form-input {
    width: 100%;
}

.form-row .form-input.check-box {
    margin-top: 0.5rem;
}

.form-row .form-input.check-box input[type="checkbox"] {
    vertical-align: middle;
}

.form-row label {
    margin: 0.25rem 0;
    font-size: 0.95rem;
    line-height: 1.15rem;
}

/**
 * Basic typography style for copy text
 */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html body {
    color: #414141;
    font: normal 100%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    margin-bottom: 0.875rem;
}

h2 {
    margin-bottom: 0.75rem;
}

h3 {
    margin-bottom: 0.625rem;
}

h4 {
    margin-bottom: 0.5rem;
}

h4 {
    margin-bottom: 0.375rem;
}

h5 {
    margin-bottom: 0.25rem;
}

h6 {
    margin-bottom: 0.125rem;
}

html, body {
    height: 100vh;
    margin: 0;
}

.full-site-wrap {
    position: relative;
    height: 100%;
}

.main-grid {
    display: grid;
    grid: "header header" 4rem "nav main-content" calc(100vh - 4rem)/minmax(9rem, 1fr) 10fr;
}

.header {
    grid-area: header;
    background-color: rgba(125, 125, 125, 0.65);
}

.side-menu {
    grid-area: nav;
}

.main-content {
    grid-area: main-content;
    overflow: auto;
    background-color: #f9f9fa;
    padding: 1rem;
}
