// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**
 * Set up axiosInstance decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has axiosInstance specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
}

* {
  @include on-event() {
    outline: none;
  }
}

body {
  background: $white;
}

/**
 * Basic styles for tables and children
 */


/**
 * Basic styles for buttons
 */

button {
  @include appearance(none);
  cursor: pointer;
}
